{% extends 'base.html' %}

{% block title %}
  <title>首页</title>
{% endblock %}

{% block container %}
  <blockquote class="layui-elem-quote">
    <a href="javascript:;">首页</a>
    &ensp;/&ensp;
    <a href="javascript:;">数据一览</a>
  </blockquote>
  <!--排名情况-->

  <div class="layui-card">
    <div class="layui-card-body">
      <div class="layui-row">
        <div class="layui-col-md8">
          <h4 id="">今日数据汇总{{ request.user }}</h4>
          <table class="layui-table">
            <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
            <tr>
              <th>姓名</th>
              <th>新增客户</th>
              <th>新增联系人</th>
              <th>新增拜访记录</th>
              <th>新增商机</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for count in counts %}
            <tr>
              <td>{{ count.user }}</td>
              <td>{{ count.add_cus }}</td>
              <td>{{ count.add_lia }}</td>
              <td>{{ count.add_rec }}</td>
              <td>{{ count.add_bus }}</td>
              {% if request.user %}
              <td><a href="{% url 'users:index_filter' 1 %}" style="color: #1E9FFF">只看他</a></td>
              {% else %}
              <td><a href="javascript:;" style="color: #e2e2e2">只看他</a></td>
              {% endif %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {#  <div class="layui-row layui-col-space10">#}
  {##}
  {#    <div class="layui-card layui-col-md5" style="margin-left: 10px;">#}
  {#      <div class="layui-card-header">月拜访记录排行</div>#}
  {#      <div class="layui-card-body" style="height: 300px">#}
  {#        <div id="record" style="height: 300px"></div>#}
  {#      </div>#}
  {#    </div>#}
  {#    <div class="layui-card layui-col-md5" style="margin-left: 10px;">#}
  {#      <div class="layui-card-header">月开发商机排行</div>#}
  {#      <div class="layui-card-body" style="height: 300px">#}
  {#        <div id="business" style="height: 300px"></div>#}
  {#      </div>#}
  {#    </div>#}
  {##}
  {#  </div>#}
  <hr>

  <!--客户一览-->
  <div class="layui-row">
    <blockquote class="layui-elem-quote">
      所有客户
    </blockquote>

    <table class="layui-table">
      <colgroup>
        <col width="">
        <col width="">
        <col width="">
        <col width="">
        <col width="">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>客户级别</th>
        <th>客户规模</th>
        <th>客户行业</th>
        <th>创建时间</th>
        <th>负责人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for customer in customer_list %}
        <tr>
          <td>
            <a style="color: #1E9FFF" href="{% url 'customer:customer_detail' customer.id %}">
              {{ customer.name }}
            </a>
          </td>
          <td>
            {{ customer.get_rank_display }}
          </td>
          <td>
            {{ customer.get_scale_display }}
          </td>
          <td>
            {{ customer.industry|default_if_none:'' }}
          </td>
          <td>
            {{ customer.created_at }}
          </td>
          <td>{{ customer.user }}</td>
          <td>
            <div class="layui-btn-group">
              <a class="layui-btn layui-btn-sm layui-btn-normal"
                 href="{% url 'customer:customer_detail' customer.id %}">编辑</a>
              {#<a class="layui-btn layui-btn-sm layui-btn-danger">删除</a>#}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <nav>
        <ul class="pagination">
          <li class="step-links">
            {% if customer_list.has_previous %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_cus={{ customer_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current layui-btn layui-btn-primary layui-btn-sm">
                    当前页 {{ customer_list.number }}. 共 {{ customer_list.paginator.num_pages }} 页.</span>

            {% if customer_list.has_next %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_cus={{ customer_list.next_page_number }}">下一页</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!--客户结束-->

  <!-- 联系人信息 -->
  <div class="layui-row">
    <blockquote class="layui-elem-quote">客户联系人信息</blockquote>
    <table class="layui-table">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="14%">
        <col width="13%">
        <col width="13%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>联系人姓名</th>
        <th>客户名称</th>
        <th>联系方式</th>
        <th>职位</th>
        <th>是否在职</th>
        <th>负责人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for liaison in liaison_list %}
        <tr>
          <td><a style="color: #1E9FFF" href="{% url 'liaison:liaison_detail' liaison.id %}">{{ liaison.name }}</a></td>
          <td>{{ liaison.customer }}</td>
          <td>{{ liaison.phone }}</td>
          <td>{{ liaison.get_job_display }}</td>
          <td>{{ liaison.get_injob_display }}</td>
          <td>{{ liaison.user }}</td>
          <td>
            <div class="layui-btn-group">
              <a class="layui-btn layui-btn-sm layui-btn-normal"
                 href="{% url 'liaison:liaison_detail' liaison.id %}">编辑</a>
              {#<a class="layui-btn layui-btn-sm layui-btn-danger">删除</a>#}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <nav>
        <ul class="pagination">
          <li class="step-links">
            {% if liaison_list.has_previous %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_lia={{ liaison_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current layui-btn layui-btn-primary layui-btn-sm">
                    当前页 {{ liaison_list.number }}. 共 {{ liaison_list.paginator.num_pages }} 页.</span>

            {% if liaison_list.has_next %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_lia={{ liaison_list.next_page_number }}">下一页</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- 联系人信息结束 -->

  <!-- 客户拜访记录 -->
  <div class="layui-row">
    <blockquote class="layui-elem-quote">客户拜访记录</blockquote>
    <table class="layui-table">
      <colgroup>
        <col width="20%">
        <col width="12%">
        <col width="8%">
        <col width="20%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>拜访客户</th>
        <th>拜访时间</th>
        <th>拜访方式</th>
        <th>主要事宜</th>
        <th>后续工作安排</th>
        <th>负责人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for record in record_list %}
        <tr>
          <td><a style="color: #1E9FFF" href="{% url 'record:record_detail' record.id %}">{{ record.customer }}</a></td>
          <td>{{ record.created_at|date:'Y年m月d日' }}</td>
          <td>{{ record.status }}</td>
          <td>{{ record.main|slice:":15" }}</td>
          <td>{{ record.next|slice:":15" }}</td>
          <td>{{ record.user }}</td>
          <td>
            <div class="layui-btn-group">
              <a class="layui-btn layui-btn-sm layui-btn-normal"
                 href="{% url 'record:record_detail' record.id %}">编辑</a>
              {#<a class="layui-btn layui-btn-sm layui-btn-danger">删除</a>#}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <nav>
        <ul class="pagination">
          <li class="step-links">
            {% if record_list.has_previous %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_rec={{ record_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current layui-btn layui-btn-primary layui-btn-sm">
                    当前页 {{ record_list.number }}. 共 {{ record_list.paginator.num_pages }} 页.</span>

            {% if record_list.has_next %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_rec={{ record_list.next_page_number }}">下一页</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- 客户拜访记录结束 -->

  <!-- 客户商机 -->
  <div class="layui-row">
    <blockquote class="layui-elem-quote">客户商机</blockquote>

    <table class="layui-table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="15%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>商机名称</th>
        <th>客户名称</th>
        <th>赢单率</th>
        <th>预估金额（万元）</th>
        <th>负责人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for business in business_list %}
        <tr>
          <td><a style="color: #1E9FFF" href="{% url 'business:business_detail' business.id %}">{{ business.name }}</a>
          </td>
          <td>{{ business.customer }}</td>
          <td>{{ business.get_winning_rate_display }}</td>
          <td>{{ business.money|default_if_none:'' }}</td>
          <td>{{ business.user }}</td>
          <td>
            <div class="layui-btn-group">
              <a class="layui-btn layui-btn-sm layui-btn-normal"
                 href="{% url 'business:business_detail' business.id %}">编辑</a>
              {#<a class="layui-btn layui-btn-sm layui-btn-danger">删除</a>#}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <nav>
        <ul class="pagination">
          <li class="step-links">
            {% if business_list.has_previous %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_bus={{ business_list.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current layui-btn layui-btn-primary layui-btn-sm">
                    当前页 {{ business_list.number }}. 共 {{ business_list.paginator.num_pages }} 页.</span>

            {% if business_list.has_next %}
              <a class='active layui-btn layui-btn-normal layui-btn-sm'
                 href="?page_bus={{ business_list.next_page_number }}">下一页</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- 客户商机结束 -->
{% endblock %}

{% block footer %}
  <script src="/static/js/echarts.min.js"></script>
  {# echarts配置信息 #}
  <script type="text/javascript">
      {#      //echarts配置#}
      {#      var myChartCus = echarts.init(document.getElementById("customer"));#}
      {#      var myChartRec = echarts.init(document.getElementById("record"));#}
      {#      var myChartBus = echarts.init(document.getElementById("business"));#}
      {##}
      {#      option_cus = {#}
      {#          title: {#}
      {#              text: '拜访记录排名',#}
      {#              subtext: '人数/月',#}
      {#              left: 'center'#}
      {#          },#}
      {#          tooltip: {#}
      {#              trigger: 'axis',#}
      {#              axisPointer: {#}
      {#                  type: 'shadow'#}
      {#              }#}
      {#          },#}
      {#          grid: {#}
      {#              left: '3%',#}
      {#              right: '4%',#}
      {#              bottom: '3%',#}
      {#              containLabel: true#}
      {#          },#}
      {#          xAxis: {#}
      {#              type: 'value',#}
      {#              axisTick: {#}
      {#                  show: false#}
      {#              },#}
      {#              boundaryGap: [0, 0.01]#}
      {#          },#}
      {#          yAxis: {#}
      {#              type: 'category',#}
      {#              axisTick: {#}
      {#                  show: false#}
      {#              },#}
      {#              data: ['刘新军', '耿冠超', '牛彦', '任文强', '张安琪', '黄振世', '朱亚宁', '黄振世', '于云龙', '赵怀远', '尹明辉']#}
      {#          },#}
      {#          series: [#}
      {#              {#}
      {#                  name: '添加新客户量',#}
      {#                  type: 'bar',#}
      {#                  data: [],#}
      {#                  itemStyle: {#}
      {#                      normal: {#}
      {#                          color: '#1E9FFF'#}
      {#                      }#}
      {#                  }#}
      {#              },#}
      {#          ]#}
      {#      };#}
      {#      option_rec = {#}
      {#          title: {#}
      {#              text: '拜访记录排名',#}
      {#              subtext: '人数/月',#}
      {#              left: 'center'#}
      {#          },#}
      {#          tooltip: {#}
      {#              trigger: 'axis',#}
      {#              axisPointer: {#}
      {#                  type: 'shadow'#}
      {#              }#}
      {#          },#}
      {#          grid: {#}
      {#              left: '3%',#}
      {#              right: '4%',#}
      {#              bottom: '3%',#}
      {#              containLabel: true#}
      {#          },#}
      {#          xAxis: {#}
      {#              type: 'value',#}
      {#              axisTick: {#}
      {#                  show: false#}
      {#              },#}
      {#              boundaryGap: [0, 0.01]#}
      {#          },#}
      {#          yAxis: {#}
      {#              type: 'category',#}
      {#              axisTick: {#}
      {#                  show: false#}
      {#              },#}
      {#              data: ['刘新军', '耿冠超', '牛彦', '任文强', '张安琪', '黄振世', '朱亚宁', '黄振世', '于云龙', '赵怀远', '尹明辉']#}
      {#          },#}
      {#          series: [#}
      {#              {#}
      {#                  name: '添加新客户量',#}
      {#                  type: 'bar',#}
      {#                  data: [],#}
      {#                  itemStyle: {#}
      {#                      normal: {#}
      {#                          color: '#1E9FFF'#}
      {#                      }#}
      {#                  }#}
      {#              },#}
      {#          ]#}
      {#      };#}
      {#      option_bus = {#}
      {#          title: {#}
      {#              text: '拜访记录排名',#}
      {#              subtext: '人数/月',#}
      {#              left: 'center'#}
      {#          },#}
      {#          tooltip: {#}
      {#              trigger: 'axis',#}
      {#              axisPointer: {#}
      {#                  type: 'shadow'#}
      {#              }#}
      {#          },#}
      {#          grid: {#}
      {#              left: '3%',#}
      {#              right: '4%',#}
      {#              bottom: '3%',#}
      {#              containLabel: true#}
      {#          },#}
      {#          xAxis: {#}
      {#              type: 'value',#}
      {#              axisTick: {#}
      {#                  show: false#}
      {#              },#}
      {#              boundaryGap: [0, 0.01]#}
      {#          },#}
      {#          yAxis: {#}
      {#              type: 'category',#}
      {#              axisTick: {#}
      {#                  show: false#}
      {#              },#}
      {#              data: ['刘新军', '耿冠超', '牛彦', '任文强', '张安琪', '黄振世', '朱亚宁', '黄振世', '于云龙', '赵怀远', '尹明辉']#}
      {#          },#}
      {#          series: [#}
      {#              {#}
      {#                  name: '添加新客户量',#}
      {#                  type: 'bar',#}
      {#                  data: [],#}
      {#                  itemStyle: {#}
      {#                      normal: {#}
      {#                          color: '#1E9FFF'#}
      {#                      }#}
      {#                  }#}
      {#              },#}
      {#          ]#}
      {#      };#}
      {##}
      {#      myChartCus.setOption(option_cus);#}
      {#      myChartRec.setOption(option_rec);#}
      {#      myChartBus.setOption(option_bus);#}
  </script>
  <script>
      //JavaScript代码区域
      layui.use(['element'], function () {
          var element = layui.element;
      });
  </script>
{% endblock %}